@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap');

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}

.home-container,
.signin-container,
.login-container {
    display: flex;
    height: 100vh;
    background-color: rgba(211, 245, 247, 0.8);
    background-image: url("assets/signin.avif");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.home-container {
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("assets/welcome.jpg");
}

.home-page {
    height: 550px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 20px;
    color: white;
    animation: fadeIn 3s ease
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.singin-page,
.login-page {
    margin-top: 50px;
    margin-left: 100px;
}

.singin-page {
    height: 550px;
}

.login-page {
    height: 400px;
}

.forgot-container {
    display: flex;
    height: 100vh;
    background-color: rgba(211, 245, 247, 0.8);
    background-image: url("assets/1.avif");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.forgot-page {
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    padding: 30px;
    height: 30%;
    text-align: center;
}


.spinner {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    /* Adjust as needed */
}

h4 {
    text-align: center;
}

.signin,
.login {
    width: 150px;
}


.gold-rate-converter {
    padding: 30px;
    min-height: 100vh;
    background-color: antiquewhite;
    display: flex;
    align-items: center;
    justify-content: center;
}

.grd-page {
    width: 100%;
    max-width: 1200px;
}

h3 {
    font-weight: 600;
    border-top: 2px dashed grey;
    border-bottom: 2px dashed grey;
    text-align: center;
    margin: 30px;
    padding: 20px;
}

.box {
    display: flex;
    flex-wrap: wrap;
}

.box-1 {
    flex: 1 1 50%;
    padding: 20px;
}

.box-2 {
    flex: 1 1 50%;
    padding: 20px;
    text-align: center
}

label {
    color: rgb(28, 92, 141);
    font-weight: 500;
}

.result-container {
    margin: 20px;
    border: 2px solid rgb(14, 142, 240);
    padding: 15px;
    border-radius: 10px;
}

.box-2>img {
    border: 1px solid rgb(115, 188, 245);
    padding: 10px;
    border-radius: 10px;
}

.chart {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.buttons>.button {
    margin-right: 10px;
}